#Cafe{
	overflow-x: hidden;
	text-align: center;
	gap:var(--spacing);
	padding:var(--spacing);
}


#Cafe > div:first-child{
	/* 
		Pour créer un petit décalage vers la droite pour que la cafetière apparaisse centrée (alors qu'en fait, elle ne l'est pas !) 
	*/
	transform:translateX(15px);
}
#Cafe img{
	max-width: clamp(200px,100%,300px);
	height:auto;
}