#Cafe{
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
	gap:var(--spacing);
	padding:var(--spacing);
	img{
		max-width: 400px;
		height:auto;
	}
	.message{
		max-width: 800px;
		line-height: 1;
	}
}