#Contact{
	background-image: url('/assets/img/texture-carton-1.jpg');
	background-size:50%;
	background-repeat: repeat;
	position:relative;
	overflow:hidden;
	display:grid;
	place-items: center;
	min-height: 50vh;
}

@media screen and (min-width:768px){
	#Contact{
		min-height:100vh;
	}
}

#Contact > svg{
	position:absolute;
	z-index: 0;
	transform:rotate(-15deg) scale(1.20);
}

#Contact .conteneur{
	position:relative;
	z-index: 1;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:var(--spacing);
	padding-block:var(--spacing);
}

#Contact .titre, 
#Contact .confirmation{
	font-size: var(--title2);
	max-width: 800px;
	color:white;
	text-wrap:balance;
	text-align: center;
	text-shadow:var(--textShadow);
}

#Contact #contactConfirmation{
	display:none;
	transition:all 1s ease-in-out;
	opacity:0;
	transform:translateY(25px);
}

#Contact #contactConfirmation.visible{
	opacity:1;
	transform:translateY(0px);
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap:var(--spacing);
}

#Contact form{
	min-width:clamp(200px,75vw,600px);
	margin-left: auto;
	margin-right: auto;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap:var(--spacing);
	border: var(--spacing);
}

#Contact input,
#Contact textarea{
	display:block;
	padding:var(--spacing);
	padding:15px;
	border-radius:var(--spacing);
	border-radius:15px;
	font-size: 1rem;
	font-family: 'Jost';
	border:0px;
}


#Contact input:focus,
#Contact textarea:focus{
	outline:0px;
}

#Contact textarea{
	min-height: 150px;
}

#Contact .conteneur-btn{
	text-align: center;
}


#Contact input[type=submit]{
	margin-left: auto;
	margin-right: auto;
	&:hover{
		cursor:pointer;
	}
}
@keyframes avionAnimation {
	0% {
			transform: translate(0px, 0px) rotate(0deg);
	}
	20% {
			transform: translate(8px, -4px) rotate(1deg);
	}
	40% {
			transform: translate(-6px, 6px) rotate(-1deg);
	}
	60% {
			transform: translate(4px, 8px) rotate(1deg);
	}
	80% {
			transform: translate(-8px, -6px) rotate(-1deg);
	}
	100% {
			transform: translate(0px, 0px) rotate(0deg);
	}
}

#superAvionEnPapier {
	animation: avionAnimation 10s infinite ease-in-out;
}