/*
.conteneur-decoupe{
	position:relative;
	z-index: 9999;
	overflow-x: hidden;
	overflow-y: visible;
	display:flex;
	flex-direction: column;
	justify-content: center;
}
*/
.decoupe{
	width: 100%;
	display: flex;
	align-items: center;
	border-top: 5px dashed black;
}

.decoupe svg{
	overflow:visible;
	width:64px;
	height:64px; 
	position:absolute;
	animation: moveRight 5s linear infinite;
	transform:translateX(-100%);
}

#ciseau-1{
	transform-origin:center;
	animation:ciseauAnim 0.5s steps(5) alternate infinite;
}

@keyframes ciseauAnim{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(45deg);
	}
}

#ciseau-2{
	transform-origin:center;
	animation:ciseauAnim2 0.5s steps(5) alternate infinite ;
}

@keyframes ciseauAnim2{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(-45deg);
	}
}

@keyframes moveRight {
	0% {
			left: 0;
	}
	100% {
		left: calc(100% + 64px);
	}
}
