#Footer:before{
	content:'';
	background-image:url('/assets/img/footer-dechirure.png');
	height:50px;
	width:100%;
	position:absolute;
	top:-50px;
}
#Footer{
	position:relative;
	background-image:url('/assets/img/footer-texture.png');
}
#Footer .ligne-1{
	display:grid;
	gap:var(--spacing);
	padding:var(--spacing);
	width: 100%;
}

@media screen and (min-width:768px){
	#Footer .ligne-1{
		align-items: center;
		grid-template-columns: repeat(3,minmax(auto,1fr));
	}
}

#Footer .ligne-1 .col,
#Footer .ligne-1 a[href]{
	margin-left:auto;
	margin-right:auto;
}

#Footer svg{
	max-height:125px;
	width:auto;
}

#Footer .notice{
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	margin:0px;
}

@media screen and (min-width:768px){
	#Footer .notice{
		flex:1;
	}
}

#Footer .ligne-2.signature{
	background-color:black;
	color:white;
	text-align: center;
	padding:var(--spacing);
	/* justify-self:flex-end; */

}