
.message{
	font-weight: 700;
	margin:0px;
	text-wrap: balance;
	font-size:clamp(24px,10vw,48px);
}

@media screen and (min-width:768px){
	.message{
		font-size: var(--title2);
	}
}

.reaction{
	display:none;
}
.reaction.visible{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap:var(--spacing);
}

.reaction img{
	margin-left: auto;
	margin-right: auto;
}


.reponses{
	display:none;
}
.reponses.visible{
	display:flex;
	flex-wrap:wrap;
	flex-direction: row;
	gap:var(--spacing);
}
.reponses .reponse{
	all:unset;
	font-size: var(--title2);
	font-weight: 600;
	color:silver;

}

.reponses .reponse:hover{
	color:var(--golden);
	cursor:pointer;
}

.reponses .reponse[disabled=true]:hover{
	cursor: not-allowed;
	color:silver;	
}

.reponses .reponse.reponse-choisie{
	color:var(--golden);
}