
.message{
	font-size: var(--title2);
	font-weight: 700;
	margin:0px;
	text-wrap: balance;
}
.reaction{
	display:none;
}
.reaction.visible{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap:var(--spacing);
}


.reponses{
	display:none;
}
.reponses.visible{
	display:flex;
	flex-wrap:wrap;
	flex-direction: row;
	gap:var(--spacing);
}
.reponses .reponse{
	all:unset;
	font-size: var(--title2);
	font-weight: 600;
	color:silver;

}

.reponses .reponse:hover{
	color:goldenrod;
	cursor:pointer;
}

.reponses .reponse[disabled=true]:hover{
	cursor: not-allowed;
	color:silver;	
}

.reponses .reponse.reponse-choisie{
	color:goldenrod;
}