
#Intro{
	padding-inline:var(--spacing);
	display:flex;
	flex:1;
	background:white;
}

.presentation{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	gap:var(--spacing);
}


.presentation .col{
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:var(--spacing);
}


.presentation img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	aspect-ratio: 3/4;
	max-width: 100%;
	min-width: 300px;
	height:auto;
	mix-blend-mode: darken;
	mix-blend-mode: multiply;
}

.presentation .conteneur-menu{
	align-items: center;
	display:none;
}

@media screen and (min-width: 768px) {
	.presentation .conteneur-menu{
		display:block;
	}
}

#menuPrincipal a,
#menuPrincipal a:link,
#menuPrincipal a:hover,
#menuPrincipal a:focus,
#menuPrincipal a:visited,
#menuPrincipal a:active{
	text-transform: uppercase;
	color:silver;
	font-size: var(--textSize);
	font-weight: bold;
	transition:all 0.25s ease-in;
	text-decoration: none;
	/* display:block; */
	display:none;

}

#menuPrincipal a:hover{
	cursor:pointer;
	color:black;
	text-decoration: underline;
}

.presentation__texte{
	font-family: 'Goudy Bookletter 1911';
	font-size: var(--textSize);
	text-wrap:pretty;
}


#Intro .ligne.ligne-bas{
	display:flex;
	flex-direction: column;	
	flex:1;
	gap:var(--spacing);
}

@media screen and (min-width:768px){
	#Intro .ligne.ligne-bas{
		flex-direction: row;
	}
}

#Intro .ligne.ligne-bas .conteneur-svg{
	display:flex;
	align-items: center;
	justify-content: center;
}

#Intro .ligne.ligne-bas svg{
	animation:upAndDown 1s steps(5) infinite alternate-reverse;
}


@keyframes upAndDown{
	from{
		transform:translateY(0%);
	}
	to{
		transform:translateY(25%);
	}
}

.ligne-bas .col{
	flex:1;
}

.ligne-bas .disponibilites{
	font-size: var(--smallTextSize);
	font-weight: 600;
	display:flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	margin-bottom:var(--spacing);
}
.ligne-bas .disponibilites b{
	font-size: var(--textSize);
	font-weight: 900;
}