#Intro{
	flex:1;
	display:grid;
	gap:var(--spacing);
	padding:var(--spacing);
	grid-template-areas: 
		'presentation'
		'portrait'
		'menu'
		'mesDispos'
		'scrollDown'
	;
}

@media screen and (min-width:768px){
	#Intro{
		grid-template-areas: 
			'presentation portrait menu'
			'.  scrollDown  mesDispos'
		;
		grid-template-columns: 1fr 1fr 1fr; /* Equal width columns */
		grid-template-rows: 1fr auto;
	}
}

#Presentation{
	grid-area:presentation;
	align-self: end;
}

@media screen and (min-width:1200px){
	#Presentation{
		align-self: start;
	}
}

#Presentation .conteneur-btn{
	display:grid;
	place-content: center;
}

#Presentation .btn-contact{
	display:none;
}

@media screen and (min-width:768px){
	#Presentation .btn-contact{
		display:inline-flex;
	}
}

.texte{
	font-family: 'Goudy Bookletter 1911';
	font-size: var(--textSize);
	/* text-wrap:pretty; */
	
}

.portrait{
	grid-area:portrait;
	max-width: 300px;
	width:100%;
	height:auto;
	align-self: end;
	justify-self: center;
}

#menuPrincipal{
	display:none;
}

@media screen and (min-width:768px){
	#menuPrincipal{
		display:grid;
		place-content: center;
		grid-area:menu;
	}
}

a{
	text-transform: uppercase;
	color:black;
	font-size: var(--textSize);
	font-weight: bold;
	transition:all 0.25s ease-in;
	text-decoration: none;
	display:block;
	line-height:1.6;
	/* padding-block:var(--spacing); */
}

a#scrollDown{
	grid-area:scrollDown;
	display:grid;
	place-content:center;
}

a#scrollDown svg{
	animation: upAndDown 1s steps(10) alternate-reverse infinite;
}
a#scrollDown svg path{
	transition:all 0.25s ease-out;
}

a#scrollDown svg:hover path{
	fill:var(--golden);
}

#mesDispos{
	grid-area:mesDispos;
	display:grid;
	place-content:center;
	font-size: var(--smallTextSize);
	font-weight: 600;
	line-height: 1;
}
#mesDispos b{
	font-size: var(--textSize);
	font-weight: 900;
}
