#Offre{
	border-block:1px solid white;
	background:url('/assets/img/texture-carton-1.jpg');
	min-height: 25vh;
	display:flex;
	flex-direction: column;
}

@media screen and (min-width:768px){
	#Offre{
		flex-direction: row;
	}
}

#Offre .col-titre{
	padding:var(--spacing);
	background:black;
	color:white;
	display:grid;
	place-content: center;
	flex:2;
}

#Offre .col-titre .titre{
	font-size: var(--title2);
	text-wrap:balance;
}

#Offre .clip-triangle{
	background:black;
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	height:50px;
}

@media screen and (min-width:768px){
	#Offre .clip-triangle{
		width: 200px;
		height:auto;
		clip-path: polygon(0 0, 0% 100%, 100% 50%);
	}
}

#Offre .blabla{
	font-size: var(--textSize);
	/* font-family: 'Goudy Bookletter 1911'; */
}

#Offre .col-contenu{
	text-align: center;
	flex:8;
}



#Offre .col-contenu ul{
	text-align: left;
	margin:var(--spacing);
	padding:0px;
	font-size: var(--textSize2);
	list-style-position: inside; /* Ensure dots are inside the list items */
}

@media screen and (min-width:768px){
	#Offre .col-contenu{
		text-align: left;
	}

}


#Offre .col-contenu li{
	line-height: 1.6;
	width: auto;
}

#Offre .col-contenu .titre{
	font-size: var(--title2);
	color:white;
}


#Offre .col-titre .titre{
	text-align: center;
}

#Offre .col-contenu{
	padding:var(--spacing);
	display:grid;
	place-content: center;
}

#Offre .btn-container{
	padding-bottom:var(--spacing);
}
#Offre .btn-container .btn{
	text-transform: none;
}

