#Pub2{
	padding-block:calc(var(--spacing)*2);
	background-color:white;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
	min-height:100vh;
}
.ordinateur{
	max-width: 1000px; 
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}


.ecran-ordinateur {
	border:15px solid black;
	border-radius:25px;
	background-size: cover;
	background-position:center;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	max-width: 82%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	aspect-ratio: 16/9;
	color:black;
}
img.base-ordinateur{
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height:auto;
}