#Pub2{
	padding-block:calc(var(--spacing)*2);
	background:gold;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}
.ordinateur{
	max-width: 1200px; 
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}
.ecran-ordinateur {
	border:15px solid black;
	border-radius:25px;
	background:white;	
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	max-width: 82%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	aspect-ratio: 16/9;
}
img.base-ordinateur{
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height:auto;
	/* background-image:url('/assets/img/base-ordinateur.png'); */
	/* width:1200px; */
	/* height:90px; */
}