#Pub{
	padding-block:calc(var(--spacing)*2);
	background-color:white;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
	min-height:100vh;
	position:relative;
}
.ordinateur{
	max-width: 1000px; 
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
	position:relative;
}

.svg-container{
	position: absolute;
	right: 0px;
	top: 0px;
	transform:translate(50%,-50%);
}

.svg-container #Asterisque {
	max-width: 100px;
	max-height:90px;
	aspect-ratio: 10/9;
	animation: rotationAsterisque 5s steps(20) infinite;
	transform-origin: center center;
	display: block;
	margin:0px;
}

@keyframes rotationAsterisque {
	from {
			transform: rotate(0deg);
	}
	to {
			transform: rotate(360deg);
	}
}

#Pub .notice{
	position:absolute;
	right:0px;
	bottom:0px;
	font-family: 'Goudy Bookletter 1911';
}


.ecran-ordinateur {
	border:15px solid black;
	border-radius:25px;
	background-size: cover;
	background-position:center;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	width: 82%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	aspect-ratio: 16/9;
	color:black;
}
img.base-ordinateur{
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height:auto;
}