#Services{
	padding-block:var(--spacing);
	background-color:white;
	background-image: url('/assets/img/texture-papier-2-2.jpg');
}

#Services > .titre{
	font-size: var(--title1);
	font-weight: 700;
	text-align: center;
	margin-block:0px;
	padding-block:0px;
	margin:0px;
	padding:0px;
}

#Services > .texte{
	margin:var(--spacing) auto;
	text-align: center;
	text-wrap:balance;
}

#Services .grille{
	margin:var(--spacing) auto;
}

@media screen and (min-width:768px){

	#Services .grille{
		display:grid;
		grid-template-columns: repeat(2,minmax(auto,1fr));

	}

	#Services > .texte,
	#Services .grille{
			max-width: 600px;
	}

}

#Services .item{
	padding:var(--spacing);
}

#Services .item .entete{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#Services .item .entete svg{
	width:50px;
	height:auto;
}


#Services .item .titre{
	text-align: center;
}

#Services .item{
	border:5px dashed black;
	margin:var(--spacing);
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
}
#Services .item .texte{
	font-size: var(--textSize2);
	font-family: 'Jost';
	line-height: 1.2;
}
@media screen and (min-width:768px){
	#Services .item{
		border:0px;
		margin:0px;
	}
	#Services .item-1{
		border-right:3px dashed black;
		border-bottom:3px dashed black;
	}
	#Services .item-2{
		border-bottom:3px dashed black;
	}

	#Services .item-3{
		border-right:3px dashed black;
	}
}