@import './animations.css';
@import './intro.css';
@import './realisations.css';
@import './btn.css';
@import './decoupe.css';
@import './pub.css';
@import './cafe.css';
@import './offre.css';
@import './interactive.css';
@import './contact.css';
@import './carte.css';
@import './footer.css';
@import './fonts.css';

#footerZone{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 100vh;
}



:root{
	--spacing:15px;
	--golden:#AB9277;
	--title1:clamp(64px,10vw,256px);
	--title2:clamp(36px,5vw,96px);
	--title3:clamp(36px,3vw,64px);
	--textSize:clamp(28px,3vw,36px);
	--btnTextSize:clamp(18px,2vw,22px);
	--smallTextSize:clamp(16px,1vw,24px);
	--textShadow:5px 5px 5px rgba(0,0,0,0.25);
}

@media screen and (min-width:768px){
	:root{
		--spacing:25px;
	}
}

*[data-animation]{
	opacity:0;
}


.flex-center{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}

.part{
	/* display:none; */
}

body{
	background:white;
	padding:0px;
	margin:0px;
	font-family: 'Jost';
	min-height:100vh;
	display:grid;
}
*{
	line-height: 1;
	box-sizing: border-box;
}
html{
	scroll-behavior:smooth;
	overflow-x:hidden;

}

.conteneur{
	margin-left: auto;
	margin-right: auto;
}

.banniere{
	min-height:auto;
	font-family: 'Jost';
	font-weight: 700;
	background:black;
	color:white;
	font-size: var(--title3);
	text-align: center;
	line-height: 1;	
	padding-block:var(--spacing);
}


#Accueil{
	min-height: 100vh;
	background:white;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
}


#zoneTitrePrincipal{
	flex:1;
	color:black;
	min-height:100vh;
	display: grid;
	place-content: center;
	padding-block:var(--spacing);
}

@media screen and (min-width:1200px){
	#zoneTitrePrincipal{
		flex:initial;
	}
}


#titrePrincipal{
	flex:1;
	font-weight: 900;
	font-size: var(--title1);
	margin:0px;
	text-align: center;
	line-height: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	transition:height 1s ease-in;
}



.to-min-height{
	animation:toMinHeight 1s ease-in-out forwards 1s;
}

@keyframes toMinHeight{
	from{
		min-height:100vh;
	}
	to{
		min-height:0vh;
	}
}


