@import './animations.css';
@import './intro.css';
@import './btn.css';
@import './decoupe.css';
@import './pub.css';
@import './cafe.css';
@import './interactive.css';
@import './contact.css';
@import './carte.css';
@import './footer.css';

:root{
	--spacing:25px;
	--golden:#AB9277;
	--title1:clamp(36px,10vw,256px);
	--title2:clamp(36px,7.5vw,128px);
	--title3:clamp(36px,5vw,128px);
	--textSize:clamp(20px,3vw,36px);
	--btnTextSize:clamp(18px,2vw,22px);
	--smallTextSize:clamp(16px,1vw,24px);
	--textShadow:5px 5px 5px rgba(0,0,0,0.25);
}

body{
	background:white;
	padding:0px;
	margin:0px;
	font-family: 'Jost';
	overflow-x:hidden;
}
*{
	line-height: 1;
}
html{
	scroll-behavior:smooth;
}
section{
	min-height:100vh;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	justify-content: center;
	gap:var(--spacing);
}

.conteneur{
	min-width:300px;
	max-width:1200px;
	margin-left: auto;
	margin-right: auto;
}
#titrePrincipal{
	font-weight: 900;
	font-size: var(--title1);
	margin:0px;
	text-align: center;
	line-height: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	/* flex-direction: column; */
	/* height:100vh; */
	transition:height 1s ease-in;
}



.hauteur-originale{
	
}

.banniere{
	min-height:auto;
	font-family: 'Jost';
	font-weight: 700;
	background:black;
	color:white;
	font-size: var(--title3);
	text-align: center;
	line-height: 1;	
	padding-block:var(--spacing);
}





